*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;

}
:root{
    --bg-clr: #1d1c22;
    --nav-clr : #8a2000;
    --h1-sz : 2.5rem;
    --h2-sz : 1.5rem;
    --h3-sz : 1.2rem;
    --p-sz : .7rem;


}
body {
    overflow: -moz-scrollbars-horizontal;
    overflow-y: hidden;
    overflow-x: auto;
    }
header{
    width: 100%;
    height: 100px;
    background-color: var(--nav-clr);
    display: flex;
    justify-content: center;
    align-items: center;

}
header .nav-bar{
    padding: 20px;
    color: antiquewhite;
    text-align: center;
    font-size: var(--h2-sz);
    font-weight: 500;
    transition: all .5s;
    
}
 header .nav-bar:hover{
transform: translateY(10px) scale(.5);
}
body{
    background-color: var(--bg-clr);
}
section{
    width: 100%;
    height: 100vh;
    background: var(--bg-clr);
    z-index: 5;
}

.HomePage{
    height: 80vh;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}
.profile-photo{
    
    position: relative;
    top: 25%;
    border-radius: 50%;
    border: 5px transparent  ;
    background:  linear-gradient(90deg, rgba(191,190,218,1) 0%, rgba(177,177,215,1) 46%, rgba(100,166,180,1) 100%)  border-box;
    box-shadow: 0 0 20px 15px  rgba(100,166,180,1) ;

}
.txt{
    width: 50%;

}

.HomePage p{
    position: relative;
    
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    font-size: var(--h3-sz);
    font-weight: 600;
}
