*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;

}
:root{
    --bg-clr: #1d1c22;
    --nav-clr : #8a2000;
    --h1-sz : 2.5rem;
    --h2-sz : 1.5rem;
    --h3-sz : 1.2rem;
    --p-sz : .7rem;


}
body {
    cursor: none;
    overflow: -moz-scrollbars-horizontal;
    overflow-y: hidden;
    overflow-x: auto;
    }
    .circle {
        height: 20px;
        width: 20px;
        border-radius: 20px;
        background-color: black;
        position: fixed; 
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: 99999999; 
        box-shadow: 0 0 15px .5px  rgb(235, 67, 0) ;
    }
    @keyframes ClickAnim{
        0%{
            transform:scale(1);
        }
        50%{
            transform:scale(3);
        }
         100%{
            transform:scale(1);
            opacity: 0;
        }
    }
    .expand{
        height: 15px;
        width: 15px;
        animation: ClickAnim .5s forwards;
        border: 1px solid   #ffb56b;
    }

header{
    width: 100%;
    height: 100px;
    background-color: var(--nav-clr);
    display: flex;
    justify-content: center;
    align-items: center;

}
header .nav-bar{
    cursor: none;
    padding: 20px;
    color: antiquewhite;
    text-align: center;
    font-size: var(--h2-sz);
    font-weight: 500;
    
}
header li{
    transition: all .5s ;

}


header li:hover{
    transform: scale(1.3);
}
body{
    background-color: var(--bg-clr);
}
section{
    width: 100%;
    height: 100vh;
    background: var(--bg-clr);
    z-index: 5;
}

.HomePage{
    height: 80vh;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}
.profile-photo{
    
    position: relative;
    top: 25%;
    border-radius: 50%;
    border: 5px transparent  ;
    background:  linear-gradient(90deg, rgba(191,190,218,1) 0%, rgba(177,177,215,1) 46%, rgba(100,166,180,1) 100%)  border-box;
    box-shadow: 0 0 20px 15px  rgba(100,166,180,1) ;

}
.txt{
    width: 50%;

}

.HomePage p{
    position: relative;
    
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    font-size: var(--h3-sz);
    font-weight: 600;
}
.About{
    position: relative;
    top: 50px;
    width: 100%;
    height: 100%;
}
.AboutTxt{
    width: 80%;
    height: 50%;
    position: relative;
    top: 10px;
    margin: auto;
    border: 5px solid #F14747;
    border-radius: 15px;
    box-shadow: 0 0 100px  #F14747;
    display: flex;
    flex-direction: column;
}
.AboutTxt h1{
    text-align: center;
    font-size: var(--h1-sz);
    font-weight: 600;
    color: white;

}
.AboutTxt p{
    color: white;
    font-size: var(--h3-sz);

}
.ImageAbout{
    
    background: url("Img/aboutimg-removebg-preview\ \(1\)\ \(1\).png");
    background-color: var(--bg-clr);
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
    background-position: center;
}
.AboutText{
    color: burlywood;
    position: relative;
    top: 30px;
    text-align: center;
    font-size: var(--h1-sz);
}
.Accounts{
    z-index: 5000;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: 50px;

}

.Accounts i{
    font-weight: 600;
    font-size: var(--h1-sz);
    border: 2px solid black;
    border-radius: 10px;
    background:black;
    transition: all .5s;
    cursor: none;
}
.Accounts i:hover{
    background:white;
    transform: translateY(10px) scale(1.4);
}
.bxl-instagram{
    color: #c40079;
}
.bxl-discord-alt{
    color: blue;
}.bxl-youtube{
    color: red;
}.bxl-github{
    color: #8206a8;
}.bxl-tiktok{
    color: #ff00ee;
}


.experience{
    width: 100%;
    height: 70%;
    position: relative;
    top: 40px;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}
.column{
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 15px;

    transition: all .5s;
}
.html{
    box-shadow: 0 0 15px #8a2000;

}
.css{
    box-shadow: 0 0 15px #4000ff;

}.js{
    box-shadow: 0 0 15px #ced806;

}.cSharp{
    box-shadow: 0 0 15px darkcyan;

}.Php{
    box-shadow: 0 0 15px #8206a8;

}
.column:hover{
    transform: scale(1.1);
}
.column i{
    font-size: 10rem;
}
.column h1{
    font-size: var(--h1-sz);
    color: #ffb56b;
    font-weight: 600;
}
.column h2{
    
    font-size: 7.5rem;
}
.column p{
    color: white;
    font-weight: 900;
}
.Csharp{
    color: darkcyan;
}
.php{
    color: #8206a8;
}
